input[type=text]{
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 100%;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-grid;
}