.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
    list-style: none;
}


.item {
    display: inline-block;
}

.asset-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}