.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-li {
    float: left;   
}

.nav-right {
    float: right !important;   
}

.nav-li .nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-li .nav-link:hover {
    background-color: #111 !important;
}

.nav-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logged-in {
    color: green;
  }
  
  .logged-out {
    color: red;
  }