.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #430DAA;
}

.nav-li {
    float: left;   
}

.nav-right {
    float: right !important;   
}

.nav-li .nav-link {
    display: block;
    // color: white;
    text-align: center;
    padding: 12px 12px;
    // text-decoration: none;
}

.nav-li .nav-link:hover {
    background-color: #7834F9 !important;
}

.nav-item {
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.logged-in {
    color: green;
}
  
.logged-out {
    color: red;
}